main {
  .region-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px auto;

    .tabs {
      ul {
        display: flex;
        margin-bottom: 10px;

        li {
          margin: 0 5px;

          &.is-active {
            text-decoration: underline;
          }
        }
      }
    }

    .user-login-form {
      input {
        height: 30px;
        border-radius: 5px;
      }

      .form-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        label {
          display: inline-block;
          font-weight: 500;
        }

        input.form-text {
          width: 85%;
          border: 1px solid #f2f2f2;
          padding: 5px;
        }
      }

      .form-actions {
        display: flex;
        justify-content: center;

        input.form-submit {
          width: 30%;
          text-align: center;
          background-color: #f2f2f2;
          font-weight: 500;
        }
      }
    }
  }
}
