@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/zero";

@import "components/fonts";

.product-wrapper {
  margin: 32px 0 122px;
  @media (max-width: 1280px) {
    margin-top: adaptive-value(32, 16);
    margin-bottom: adaptive-value(122, 61);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .product {
    display: grid;
    grid-template-columns: 61.563% 1fr;
    grid-template-areas:
      "variation-title variation-title"
      "rating rating"
      "images variation"
      "similar-products similar-products";
    column-gap: 40px;
    @media (max-width: 1280px) {
      column-gap: adaptive-value(40, 15);
    }

    &__variation-title {
      grid-area: variation-title;
      @include font-setting(normal, 700, 16px, 19px);
      color: $bg-heading;
    }

    &__rating {
      grid-area: rating;
      margin: 12px 0 24px;
      @media (max-width: 1280px) {
        margin-top: adaptive-value(12, 6);
        margin-bottom: adaptive-value(24, 12);
      }
    }

    &__images {
      grid-area: images;

      .slider-for {
        margin-bottom: 21px;
        @media (max-width: 1280px) {
          margin-bottom: adaptive-value(21, 10);
        }

        .slick-slide {
          div {
            height: 408px;
            @media (max-width: 1280px) {
              height: adaptive-value(408, 204);
            }
            overflow: hidden;
            cursor: pointer;
          }
        }
      }

      .slider-nav {
        .slick-slide {
          margin: 0 28.5px;
          @media (max-width: 1280px) {
            margin: 0 adaptive-value(28.5, 14.25);
          }

          div {
            height: 159px;
            width: 154px;
            @media (max-width: 1280px) {
              height: adaptive-value(159, 79.5);
              width: adaptive-value(154, 77);
            }
            cursor: move;
          }
        }
      }
    }

    &__variation {
      grid-area: variation;
    }

    &__similar-products {
      grid-area: similar-products;
    }
  }

  .variation {
    @include font-setting(normal, 400, 14px, 16px);
    color: $bg-heading;

    &__summary {
      display: flex;
      align-items: center;
    }

    &__price {
      @include font-setting(normal, 700, 20px, 23px);
      @media (max-width: 1280px) {
        font-size: adaptive-value(20, 16);
        line-height: adaptive-value(23, 19);
      }
      color: $link-price;
      margin-left: 22px;
    }

    &__form-cart {
      border-top: 1px solid #999999;
      border-bottom: 1px solid #999999;
      margin: 25px 0;
      padding: 25px 0;
      @media (max-width: 1280px) {
        margin: adaptive-value(25, 15) 0;
        padding: adaptive-value(25, 15) 0;
      }

      fieldset {
        position: relative;
        margin: 0 0 25px 0;

        .field--name-name {
          position: absolute;
          top: 0;
          left: 0;
          visibility: hidden;
        }

        .field--name-field-color {
          margin-top: 40px;

          .color_field__swatch {
            cursor: pointer;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }
        }

        .product--rendered-attribute__selected ~ label.option {
          border: none;

          .field--name-name {
            visibility: visible;
          }
        }

        .ajax-progress {
          display: none;
        }
      }

      .field--name-quantity {
        display: inline-block;

        label {
          display: none;
        }

        input {
          width: 55px;
          height: 37px;
          border: 1px solid #999999;
          padding: 0 5px;
        }
      }

      .form-actions {
        display: inline-block;

        input {
          width: 148px;
          height: 37px;
          background-color: $link-price;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 5px;
          color: $text;
          margin-left: 40px;
        }
      }
    }

    &__tabs-nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 20px;

      .field-tab__item {
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;

        &_active {
          display: flex;
          align-items: center;
          height: 37px;
          background-color: #e5e5e5;
          padding: 0 10px;
        }
      }
    }

    &__tabs-content {
      .field-content__item {
        display: none;
        padding-bottom: 20px;
        border-bottom: 1px solid #999999;

        &_active {
          display: block;
        }
      }
    }
  }

  .similar-products {
    color: $bg-heading;

    &__label {
      text-align: center;
      @include font-setting(normal, 500, 48px, 56px);
      margin: 89px 0 58px;
      @media (max-width: 1280px) {
        font-size: adaptive-value(48, 24);
        line-height: adaptive-value(56, 28);
        margin-top: adaptive-value(89, 25);
        margin-bottom: adaptive-value(58, 20);
      }
    }

    &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
      @media (max-width: 1280px) {
        gap: adaptive-value(40, 15);
      }
    }

    &__image {
      .field--name-field-image-to-card {
        height: 442px;
        @media (max-width: 1280px) {
          height: adaptive-value(442, 221);
        }
      }
    }

    &__heading {
      display: flex;
      justify-content: space-between;
      @include font-setting(normal, 700, 20px, 23px);
      margin: 28px 0;
      @media (max-width: 1280px) {
        font-size: adaptive-value(20, 16);
        line-height: adaptive-value(23, 19);
        margin: adaptive-value(28, 14) 0;
      }
    }

    &__price {
      color: $link-price;
      margin-left: 10px;
    }

    &__body {
      @include font-setting(normal, 400, 18px, 25px);
      @media (max-width: 1280px) {
        font-size: adaptive-value(18, 14);
        line-height: adaptive-value(25, 21);
      }
    }

    &__link {
      @include font-setting(normal, 400, 16px, 19px);
      margin-top: 27px;
      @media (max-width: 1280px) {
        margin-top: adaptive-value(27, 14);
      }

      a {
        color: $bg-heading;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .product-wrapper {
    .product {
      grid-template-columns: 50% 1fr;
    }
  }
}

@media screen and (max-width: 767px) {
  .product-wrapper {
    .product {
      grid-template-columns: 100%;
      grid-template-areas:
        "variation-title"
        "rating"
        "images"
        "variation"
        "similar-products";

      &__images {
        margin-bottom: 20px;
      }
    }

    .similar-products {
      &__items {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .product-wrapper {
    .similar-products {
      &__items {
        grid-template-columns: 1fr;
      }
    }
  }
}
