<div class="similar-products__image">
  {{- product_variation.field_image_to_card -}}
</div>
<div class="similar-products__heading">
  <div class="similar-products__title">
    {{- product_variation.title -}}
  </div>
  <div class="similar-products__price">
    {{- product_variation.price -}}
  </div>
</div>
{{ product_variation.product_id.0 }}
