@mixin font-setting($fs, $fw, $fz, $lh) {
  font-style: $fs;
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
}

@mixin burger-icon {
  width: 25px;
  height: 1px;
  background-color: $text;
}
