header {
  background-color: $bg-heading;

  .region-header {
    min-height: 64px;
    display: grid;
    grid-template-columns: 15.874% 1fr 6.35% 6.35% 6.35%;
    grid-template-rows: 1fr;
    align-items: center;

    .main-menu {
      display: flex;
      justify-content: center;

      &__item {
        margin: 0 2.718%;
        text-transform: uppercase;
        @include font-setting(normal, 400, 18px, 21px);
        @media (max-width: 1280px) {
          font-size: adaptive-value(18, 16);
          line-height: adaptive-value(21, 19);
        }
      }
    }

    .header-cart,
    .header-account,
    .header-search {
      display: flex;
      justify-content: flex-end;

      a {
        font-size: 20px;
      }
    }

    &__burger-menu {
      display: none;
    }

    a,
    a::before {
      color: $text;
    }

    img {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  header {
    .region-header {
      display: grid;
      grid-template-columns: 1fr 40px 40px 40px 45px;
      grid-template-rows: 64px auto;
      grid-template-areas:
        "logo cart user-account search burger"
        "navigation navigation navigation navigation navigation";

      &__branding {
        grid-area: logo;
      }

      &__cart {
        grid-area: cart;
      }

      &__user-account {
        grid-area: user-account;
      }

      &__search {
        grid-area: search;
      }

      &__burger-menu {
        grid-area: burger;
        display: flex;
        justify-content: flex-end;

        span {
          display: block;
          position: relative;
          @include burger-icon;

          &::before,
          &::after {
            @include burger-icon;
            content: "";
            position: absolute;
          }

          &::before {
            margin-top: -7px;
          }

          &::after {
            margin-top: 7px;
          }
        }
      }

      &__navigation-menu {
        grid-area: navigation;
        display: none;

        .main-menu {
          flex-direction: column;
          align-items: center;
          padding: 10px 0;

          &__item {
            margin: 5px 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  header {
    .region-header {
      &__branding {
        .site-logo {
          display: block;
          width: 60px;
          overflow: hidden;

          img {
            max-width: none;
          }
        }
      }
    }
  }
}
