.custom-module-block {
  margin: 30px auto 50px;
  max-width: 500px;

  form {
    .result,
    .form__item {
      display: flex;
      justify-content: space-between;
    }

    .form__item {
      margin-bottom: 10px;
    }

    select,
    .form__input {
      width: 60%;
    }

    label {
      font-weight: 500;
    }

    select,
    input {
      height: 30px;
      border-radius: 5px;
    }

    input {
      border: 1px solid #f2f2f2;
      padding: 5px;
      width: 100%;
    }

    .error {
      border: 1px solid #dc3545;
      box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 25%);
    }

    .error-amount,
    .error-advance,
    .error-months {
      display: none;
      color: #dc3545;
      margin-top: 5px;
      font-size: 13px;
    }
  }
}
