<div class="layout-container">
  <header>{{ page.header }}</header>
  <main>
    <div class="content-overflow">
      {{ page.content }}
    </div>
  </main>
  <footer>{{ page.footer }}</footer>
</div>
