{%
  set classes = [
  'region',
  'region-' ~ region|clean_class,
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="filter-burger">
      <span></span>
    </div>
    <div class="filter-title">
      <h2>{{ 'Filter By'|t }}</h2>
    </div>
    {{ content }}
  </div>
{% endif %}
