{%
  set classes = [
  'container',
  'region',
  'region-' ~ region|clean_class,
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {{ content }}
    <div class="region-header__burger-menu">
      <span></span>
    </div>
  </div>
{% endif %}
